.cadre-profil__infos {
    background-color: var(--gris-clair);
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    width: 356px;
    height: 289px;
    padding: 20px;
    margin-top: 25px;
    margin-left: 15%;;
    border-radius: 10px;
    margin-bottom: 25px;
    position : relative;
}

.cadre-login__infos__modif {
        position: absolute;
        top: 10px; 
        left: 250px; 
        width: 20px; 
        height: 20px;
    }

.cadre-login__infos__photo {
    align-self: center;
}

.cadre-login__infos__nom {
    padding-top: 25px;
    align-self: center;
    font-size: 35px;
}

.cadre-login__infos__mail {
    padding-top: 25px;
    align-self: center;
    font-family: var(--police-texte);
    font-size: 28px;
}

.nav-container__nomprofil {
    font-size: 24px;
    padding-left: 100px;
}

.cadre-login__score {
    background-color: var(--gris-clair);
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    width: 356px;
    height: 750px;
    padding: 20px;
    margin-top: 25px;
    margin-left: 15%;;
    border-radius: 10px;
    margin-bottom: 25px;
    position : relative;
}

.cadre-login__score__global {
    align-self: center;
    font-size: 35px;
}

.cadre-login__score__global__note {
    align-self: center;
    padding-top: 5px;
    font-family: var(--police-texte);
    font-size: 35px;
    color : var(--gris-fonce);
}

.cadre-login__score__theme {
    align-self: center;
    padding-top: 25px;
    font-size: 35px;
}


.cadre-login__score__theme__score {

    li { 
        text-align: center;
        padding-top: 5px;
        font-family: var(--police-texte);
        font-size: 35px;
        color : var(--gris-fonce);
    }
}

.cadre-login__quiz {
        background-color: var(--gris-clair);
        display : flex;
        flex-direction: column;
        align-items: flex-start;
        width: 577px;
        height: 1106px;
        padding: 20px;
        margin-top: 205px;
        margin-right: 15%;;
        border-radius: 10px;
        margin-bottom: 25px;
        position : absolute;
        top : 0;
        right : 0;
    }

.cadre-login__quiz__derniersquiz {
    align-self: center;
    font-size: 35px;
    padding-top: 10px;
}

.cadre-login__quiz_listequiz {
    li { 
        text-align: center;
        padding-top: 5px;
        font-family: var(--police-texte);
        font-size: 35px;
        color : var(--gris-fonce);
    }
}
